// styles.scss
@import '../../node_modules/normalize.css/normalize';
@import url('https://fonts.googleapis.com/css2?family=Oregano&family=PT+Serif&family=Roboto&display=swap');
$oregano:Oregano,
cursive;
$roboto:Roboto,
sans-serif;

* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: gray;
    font-family: $oregano;
    font-size: 300%;
}
