// подключение файлов стилей и шрифтов
@import'../../node_modules/swiper/swiper-bundle';
@import'../../node_modules/swiper/swiper-bundle.min';
@import'../../node_modules/swiper/components/pagination/pagination.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap" rel="stylesheet');
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
//@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
//@import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/icons.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/mixins";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/variables";
@import "form.scss";
@import "white_block.scss";
@import "courses.scss";
@import "counters.scss";
@import "blogs.scss";
@import "startCoach.scss";
@import "stories.scss";
@import "mixin.scss";
@import '../css/reset';




//убираем нижнюю прокрутку
html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

body {
    background-color: #ffffff;
    font-family: $oregano;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 0;
}

// HEADER
.header {
    @include block();
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.img1 {
    background-image: url('../images/src/686.jpg');
}

.img1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.466);
    z-index: 1;
}

.img2 {
    background-image: url('../images/src/banner-1033925_1920.jpg');
}

.container {
    width: 100%;
    float: right;
}

.header_top {
    background-color: transparentize(#252a35, .3);
    height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    z-index: 3;

    .logo {
        position: static;
        color: white;
        width: 15%;
        margin-left: 3%;
        margin-top: 2%;

        .logotyp {
            background-image: url('../images/src/logo.png');
            height: 100px;
            width: auto;
            background-repeat: no-repeat;
            z-index: -1;
        }
    }

    .menu {
        width: 40%;
        margin-left: 9%;
        font-family: $roboto;
        font-weight: bold;
 margin-top: 3%;

        ol li {
            display: inline-block;

            a {
                color: rgb(255, 255, 255);
                margin-right: 2em;

                &:hover {
                    border-bottom: 2px solid #0be60b;
                }
            }
        }
    }

    .hotline {
        width: 24%;
        margin-left: 1%;
        display: flex;
 margin-top: 2.6%;

        .hot {
            padding-right: 5%;
            color: rgb(255, 255, 255);
            font-family: $roboto;
            font-weight: bold;
            line-height: 21px;
        }

        a {
            font-size: 150%;
            color: rgb(30, 175, 19);
            font-weight: bold;
            line-height: 1;
            text-align: left;
            font-family: $roboto;

        }
    }

    .line {
        border-left: 1px solid rgb(255, 255, 255);
        height: 2em;
        margin-right: 2%;
        opacity: 0.102;
         margin-top: 2%;
    }

    .web {
        display: flex;
        width: 8%;
        margin-right: 3%;
         margin-top: 2%;
    }
}




.icon-a {
    color: #FFF;
    font-size: 1.7em;
    line-height: 1.2em;
}

.icon-b {
    color: #3f4242;
    font-size: 2em;
}

/* HEADER TEXT */
.header_text {
    display: inline-table;
    width: 630px;
    margin-left: 365px;
    margin-top: 205px;
    position: absolute;
    z-index: 2;
    color: rgb(255, 255, 255);
    text-align: left;

    .item_name {
        font-size: 4.28em;
        font-family: $oregano;
        line-height: 36px;

    }

    .item_text1 {
        font-size: 1.14em;
        font-family: $roboto;
        font-style: italic;
        margin-top: 1em;
    }

    .item_text2 {
        margin-top: 30px;
        font-size: 1.28em;
        font-family: $roboto;
        line-height: 30px;
        /* letter-spacing: 0; //ширина между V A*/
    }

    .header_text_btn {
        @include btn();
        text-align: center;
        margin-top: 7%;
        a{
            color: white;
        }
    }
}

/* CAROUSEL */

// для активного квадрата
.swiper-pagination-bullet-active {
    background: rgb(253, 251, 251);
}

//прозрачная кнопка с ободком
.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet {
    box-shadow: rgb(245, 228, 228) 0 0 0 2px,
        #061108 0 0 0 3px;
    border-radius: 5px;
    border-style: solid;
    opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
}
