// подключение файлов стилей и шрифтов
@import '../css/reset';
@import '../../node_modules/normalize.css/normalize';
@import'../../node_modules/swiper/swiper-bundle';
@import'../../node_modules/swiper/swiper-bundle.min';
@import'../../node_modules/swiper/components/pagination/pagination.scss';
@import url('https://fonts.googleapis.com/css2?family=Oregano&family=PT+Serif&family=Roboto&display=swap');
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/icons.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/mixins";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/variables";
//переменные
$oregano:Oregano,
cursive;
$roboto:Roboto,
sans-serif;
$myriad:myriad-pro,
sans-serif;

//убираем нижнюю прокрутку
html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

body {
    background-color: #ffffff;
    font-family: $oregano;
    font-size: 87.5%;

}


.header {
    background-image: url('../images/src/header.jpg');
    width: 100%;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;

}

.header_top {
    background-color: transparentize(#252a35, .3);
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    padding-top: 3%;

}

.logo {
    position: static;
    left: 50%;
    width: 15%;
    float: left;
    color: white;

}

.logotyp {
    background-image: url('../images/src/logo.png');
    height: 100px;
    width: auto;
    background-repeat: no-repeat;
    z-index: -1;
}

.menu {
    font-family: $roboto;
    float: right;
    width: 40%;


    ol li {
        display: inline-block;

        a {
            color: rgb(255, 255, 255);
            margin-right: 3.3em;

            &:hover {
                border-bottom: 2px solid #0be60b;
            }
        }
    }
}

.hotline {
    width: 30%;
    float: right;
    color: #000;

}

// подключение файлов стилей и шрифтов
@import '../css/reset';
@import '../../node_modules/normalize.css/normalize';
@import url('https://fonts.googleapis.com/css2?family=Oregano&family=PT+Serif&family=Roboto&display=swap');

//переменные
$oregano:Oregano,
cursive;
$roboto:Roboto,
sans-serif;
$myriad:myriad-pro,
sans-serif;

//убираем нижнюю прокрутку
html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

body {
    background-color: #ffffff;
    font-family: $oregano;
    font-size: 87.5%;

}

// HEADER
.header {
    background-image: url('../images/src/header.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    text-align: center;

}

.header_top {
    background-color: transparentize(#252a35, .3);
    height: 100px;

    position: relative;
    display: flex;
    text-align: center;
}

.logo {
    float: left;
    position: static;
    color: white;
    width: 18%;
    padding-left: 3%;

    .logotyp {
        background-image: url('../images/src/logo.png');
        height: 100px;
        width: auto;
        background-repeat: no-repeat;
        z-index: -1;
    }
}



.menu {

    width: 45%;
    padding-left: 12%;
    font-family: $roboto;
    font-weight: bold;
    line-height: 2.143;

    ol li {
        display: inline-block;

        a {
            color: rgb(255, 255, 255);
            margin-right: 3.3em;

            &:hover {
                border-bottom: 2px solid #0be60b;
            }
        }
    }
}

.hotline {
margin-left: 3%;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: $roboto;
    font-weight: bold;
    line-height: 2.143;

    .hot {
        padding-right: 5%;
    }

    a {
        font-size: 150%;
        color: rgb(30, 175, 19);
        font-weight: bold;
        line-height: 1;
        text-align: left;
        font-family: $roboto;

    }
}
.line{
    border-left: 1px solid rgb(255, 255, 255);
    height: 2em;
    margin-right: 2%;
    opacity: 0.102;
}



.web {
    display: flex;
    width: 8%;
    padding-right: 3%;

}

.icon-a {
    color: #FFF;
    font-size: 1.7em;
line-height: 1.2em;
}

.icon-b {
    color:#5c6262;
 font-size: 2em;


}
//CAROUSEL
 .swiper-container {
     width: 80%;

 }

 .swiper-slide {
     height: 200px;
     text-align: center;
     font-size: 18px;
     background: rgb(84, 102, 207);

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;


 }
